.light {
  color: #ffffff;
}

.dark {
  color: black;
}

.sun {
  color: white;
  font-size: 20px;
}

.close-btn {
  margin-top: 3px;
}

.highlight {
  color: #0a7efa;
}

.btn {
  margin-top: 4px;
}

.search-icon {
  background: #dbdbdb;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  padding-left: 4px;
  padding-right: 4px;
}

.search-menu-btn {
  display: flex;
}

@media screen and (min-width: 768px) {
  .search-menu-btn {
    display: none;
  }
}
