.post-link-item {
  text-decoration: none;
}

.link-black-color {
  color: black;
}

.link-white-color {
  color: white;
}

.post-icon {
  font-size: 25px;
  color: #475569;
}

.post-like-icon {
  font-size: 28px;
  color: #475569;
}

@media screen and (max-width: 576px) {
  .post-icon {
    font-size: 18px;
    color: #475569;
  }

  .post-like-icon {
    font-size: 20px;
    color: #475569;
  }
}
